<div class="wrapper">
 <div class="content-page">
   <div class="content">
     <!-- Start Content-->
     <div class="container-fluid">
       <div class="row">
         <div class="col-md-4"></div>
           <!-- start contact listing-->
           <div class="col-md-4 col-sm-12" id="wrapper-main-body">
             <%= render partial: "contact_listing" %>
           </div>
           <!-- end contact listing-->
         <div class="col-md-4"></div>
      
       <!-- end row-->
    
     <!-- container -->
  
   <!-- content -->
  <!-- ============================================================== -->
 <!-- End Page content -->
 <!-- ============================================================== -->
 
 
 
</div>
</div>
</div>
</div>
<%# <!-- END wrapper -->
<div class="rightbar-overlay"></div>
<!-- /End-bar --> %> 

